<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aweme.hook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity
            android:name="com.aweme.hook.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Xposed 模块标识 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <!-- YukiHookAPI Hook入口 -->
        <meta-data
            android:name="xposedinitclass"
            android:value="com.wen.bbkhook.HookEntry" />

        <!-- ContentProvider 用于跨进程通信 -->
        <provider
            android:name=".SettingsContentProvider"
            android:authorities="com.aweme.hook.settings"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>

</manifest>